@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Poppins", sans-serif;
  background-color: #f1f3f5;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  height: 90vh;
  background-color: #fff;
  box-shadow: 0 4px 4px #adb5bd40;
  padding: 30px;
  border-radius: 5px;
}

.btn {
  padding: 8px 16px;
  font-size: 15px;
  font-family: inherit;
}

.form-control {
  margin-bottom: 20px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  color: rgb(38, 58, 100);
}

::-webkit-scrollbar-track {
  background-color: #F1F3F5;
}