<form class="add-form">
      <label for="text">Treść</label>
      <input
        type="text"
        name="text"
        [(ngModel)]="text"
        id="text"
        placeholder="Treść zadania"
        class="form-control"
      />
      <label for="dueDate">Termin wykonania</label>
      <input
        type="text"
        name="dueDate"
        [(ngModel)]="dueDate"
        id="dueDate"
        placeholder="Obsługiwany format: yyyy-mm-dd"
        class="form-control"
      />
    <button (click)="onSubmit()" class="btn btn-dark block">
      <span *ngIf="loading | async" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span *ngIf="(loading | async) === false">Dodaj</span>
    </button>
    <div *ngIf="showAlert" [class]="alertType" role="alert">
        {{alertMessage}}
    </div>
</form>