<app-header (addClicked)="handleAddToDoClicked($event)"></app-header>
<div *ngIf="showAlert" [class]="alertType" role="alert">
  {{alertMessage}}
</div>
<div *ngIf="loading | async" class="d-flex justify-content-center">
    <div class="spinner-border" style="width: 3rem; height: 3rem; margin-top: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
<ng-container *ngIf="(loading | async) === false">
    <div 
    *ngIf="todosData | async as data" 
    class="data" 
    [ngClass]="{
          'large': !isAddViewVisible && !showAlert,
          'big': !isAddViewVisible && showAlert,
          'medium': isAddViewVisible && !showAlert,
          'small': isAddViewVisible && ((isAddAlertVisible | async) || showAlert)
        }">
        <div *ngIf="!data.length" class="alert alert-warning" role="alert">
            Brak danych!
        </div>
        <app-to-do-item 
        *ngFor="let item of data" 
        [toDo]="item"
        (itemModified)="displayAlert($event)"
        ></app-to-do-item>
    </div>
</ng-container>
